/*<img src="https://i.postimg.cc/NfqHP9jn/pokemon-id-1.png"*/

table {
	border-collapse: collapse;
	border: 2px solid black;
	text-align: center;
}

.user{

}

.name {

}

.description {

}

.place {

}

.social{

}

.contact{
	
}