table {border-collapse: collapse;
		width: 100%;
		height: 100%;}
td {border: 1px solid black;
	width: 50%;
	height: 100%;}
.one {background-color: rgb(135, 161, 87);}
.two {background-color: rgb(209, 131, 57);}